root = true

# C/C++ files
[*.{h,c,hpp,cpp}]

# Indentation
indent_style = space
indent_size = 4
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

# Encoding
charset = utf-8

